<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Welcome <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> !!</h1>
			<p>Would you like to see the photo? </p>
			<h2><a href="#">let's photogram</a></h2>
		</div>
	</div>
</div>